img {
    max-width: 100%;
    height: auto;
    display: block;
}


p {
    line-height: 1.6;
    margin-bottom: 1em;
}
body {
    color: purple;
    line-height: 1.6;
    margin-bottom: 1em;
}
h1 {
    visibility: visible;
    color: inherit; /* Ensure text color is not blending with the background */
  }

h1 {
    text-align: center;
}
h1 {
    color: rgb(226, 70, 96);
}

/* Removed universal color rule to avoid overriding specific styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font style sansserif */
body{
    font-family: sans-serif;
}   
/ * font weight thin */
h1{
    font-weight: thin;
}   

button {
    background-color: rgb(76, 160, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: deepskyblue;
}
ul {
    list-style-type: none;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

